* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "Regular";
}

body {
    background-color: #f3f5f7;
}

.pageCenter {
    width: 1202px;
    margin: 0 auto;
}

li {
    list-style: none;
}

.head {
    margin: 30px auto;
    height: 42px;
}


.head .logo {
    float: left;
}

.head .logo img {
    width: 195px;
    height: 42px;
}

.head .nav {
    float: left;
    margin-left: 45px;
}

.head .nav li {
    float: left;
    margin-left: 25px;
}

.head .nav li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #050505;
}

.head .nav li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.head .search {
    float: left;
    width: 412px;
    height: 40px;
    margin-left: 85px;
    border: 1px solid #b0b0b0;

}

.head .search .inputSearch {
    display: block;
    float: left;
    width: 351px;
    height: 40px;
    border: none;
    border-right: 1px solid #b0b0b0;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
}

.head .search .btnSearch {
    display: block;
    float: left;
    width: 50px;
    height: 40px;
    border: none;
    background-image: url(../images/btn.png);
}

.head .search:hover {
    border: 1px solid #00a4ff;
}

.head .search .inputSearch:hover {
    border-right: 1px solid #00a4ff;
}

.head .user {
    float: left;
    margin-left: 30px;
}

.head .user img {
    vertical-align: middle;
}

.head .user span {
    color: #898a8a;
    font-size: 14px;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .pageCenter {
    background: url(../images/banner2_20190819_210028.png) no-repeat top center;
    height: 100%;
}

.banner .subNav {
    float: left;
    width: 190px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .subNav li {
    height: 45px;
    margin: 0 22px;
    margin-top: px;
    font-size: 14px;
    color: white;
    line-height: 45px;
}

.banner .subNav li a {
    float: left;
    display: block;
    text-decoration: none;
    color: white;
}

.banner .subNav li:hover a,
.banner ul li:hover span {
    color: #00a4ff;
}

.banner ul span {
    float: right;
    display: block;
}

.banner .caluseTable {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: white;
}

.banner .caluseTable h3 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #9bceea;
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}

.banner .caluseTable li {
    margin: 0 18px;
    padding: 14px 0;
    text-align: center;
    border-bottom: 1px solid #efefef;
}

.banner .caluseTable li h4 {
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 400;
}

.banner .caluseTable li p {
    color: #a5a5a5;
    font-size: 12px;
}

.banner .caluseTable a {
    display: block;
    width: 198px;
    height: 38px;
    margin-left: 15px;
    line-height: 38px;
    font-size: 16px;
    color: #00a4ff;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    border: 1px solid #00a4ff;
}

.recommend {
    height: 60px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 5px 5px 11px 2px rgba(0, 0, 0, 0.1);
}

.recommend h4 {
    float: left;
    margin-left: 35px;
    color: #00a4ff;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
}

.recommend ul {
    float: left;
    margin-left: 30px;
    margin-top: 22px;
}

.recommend ul li {
    float: left;
    padding: 0 30px;
    border-left: 1px solid #bfbfbf;

}

.recommend ul li a {
    color: #050505;
    font-size: 16px;
    text-decoration: none;
}

.recommend .modify {
    float: right;
    display: block;
    margin-right: 60px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #00a4ff;
    font-size: 14px;
}

.common {
    margin-top: 35px;
}

.common .common-head {
    height: 42px;
}

.common .common-head h2 {
    float: left;
    font-size: 20px;
    color: #050505;
    font-weight: 400;
}

.common .common-head .show-all {
    float: right;
    margin-top: 10px;
    text-decoration: none;
    color: #c6c7c8;
    margin-right: 32px;
    font-size: 12px;
}

.common .common a:hover {
    text-decoration: underline;
}

.common .common-list {
    margin-top: 20px;
}

.common .common-list ul li a em img {
    position: absolute;
    top: 4px;
    right: -4px;
}


.common .caluse-recommend-list {
    width: 1215px;
}

.common .common-list ul::after {
    content: "";
    display: block;
    clear: both;
}

.common .common-list-list ul {
    zoom: 1;
}

.common .common-list ul li {
    position: relative;
    float: left;
    margin-top: 20px;
    width: 229px;
    height: 270px;
    margin: 0 14px 15px 0;
    background-color: white;
}

.common .common-list ul li a {
    text-decoration: none;
}

.common .common-list ul li a div img {
    width: 229px;
}

.common .common-list ul li a h4 {
    margin: 25px 20px 20px 24px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.common .common-list ul li a p {
    font-size: 12px;
    color: #cdcdcd;
    margin-left: 25px;
}

.common .common-list ul li a p span {
    color: #ff6700;
}


.programming-entry {
    margin-top: 20px;
}

.programming-entry .programming-entry-list .programming-entry-left {
    float: left;
}

.programming-entry .programming-entry-list .programming-entry-left img {
    width: 229px;
    height: 392px;
}

.programming-entry .programming-entry-list .programming-entry-right {
    float: left;
    margin-left: 15px;
}

.programming-entry .programming-entry-list .programming-entry-right .progragmming-entry-top-img img {
    width: 958px;
    height: 100px;
}

.programming-entry .programming-entry-list::after {
    content: "";
    display: block;
    clear: both;
}

.programming-entry .programming-entry-list {
    width: 1217px;
    margin-top: 22px;
    zoom: 1;
}

.programming-entry .common-head .list-nav {
    width: 420px;
    margin: 0 auto;

}

.programming-entry .common-head .list-nav li a {
    float: left;
    margin-right: 71px;
    text-decoration: none;
    margin-top: 10px;
    color: #979898;
    font-size: 16px;
}

.programming-entry .common-head .list-nav li a:hover {
    color: #00a4ff;
}

.footer {
    margin-top: 40px;
    background-color: white;
    height: 418px;
    padding-top: 32px;
}

.footer .footer-left {
    float: left;
}

.footer .footer-left div img {
    width: 195px;
    height: 42px;
}

.footer .footer-left p {
    font-size: 12px;
    color: #666;
    margin-top: 25px;
}

.footer .footer-left a {
    display: block;
    width: 119px;
    height: 32px;
    margin-top: 15px;
    border: 1px solid #00a4ff;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    color: #00a4ff;
}

.footer .footer-right {
    float: right;
}

.footer .footer-right dl {
    float: right;
    margin-left: 120px;
}

.footer .footer-right dl dt {
    font-size: 16px;
    color: #333333;
}

.footer .footer-right dl a {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

.footer .footer-right dl a:hover {
    text-decoration: underline;
}